.frontendContainer {
    width: 100%;
    background-color: aquamarine;
    padding: 0 4rem;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.frontendContent {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.pageTitle {
    color: blueviolet;
    font-size: xx-large;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
}

.pageTitle  h2 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 700;
  color: black;
}
